apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "finops-database-handler-uploader.fullname" . }}
  labels:
  {{- include "finops-database-handler-uploader.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }} 